@tailwind base;
@tailwind components;
@tailwind utilities;


/* base degani == bazoviy elementlar degani */
@layer base {



  @font-face {
    font-family: "Raleway";
    src: url("/public/fonts/raleway-v22-cyrillic-300.woff2") format("woff2");
  }
  @font-face {
    font-family: "'Barlow Condensed', sans-serif";
    src: url("/public/fonts/BarlowCondensed-Bold.ttf") format("ttf"), url("/public/fonts/BarlowCondensed-SemiBold.ttf") format("ttf");
  }
  
}

@layer components {
    .btn-primary {
        @apply bg-pink-500 text-white font-semibold py-2 px-6 rounded-lg
    }
}




/* Umumiy ozgartirish */
html {
    /* font-family: 'Macondo', cursive; */
}

body {
  background-color: #243c5a;
  color: white;
}
